<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meetingMapper">

	<resultMap type="Meeting" id="meetingResult">
		<result column="MEETING_NO" property="meetingNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="MEETING_TITLE" property="meetingTitle"/>
		<result column="SHOW_NO" property="showNo"/>
		<result column="MEETING_PLACE" property="meetingPlace"/>
		<result column="MEETING_COUNT" property="meetingCount"/>
		<result column="MEETING_DATE" property="meetingDate"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
	</resultMap>

	<select id="meetingList" resultMap="meetingResult">
		SELECT * 
		FROM MEETING 
		WHERE STATUS='Y'
	</select>
	
	<select id="listCount" resultType="_int">
		SELECT COUNT(*) 
		FROM MEETING 
		WHERE STATUS='Y'
	</select>
	
</mapper>