<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">
	
	<resultMap type="Notice" id="noticeResultSet">
		<result column="NOTICE_NO" property="noticeNo"/>
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="NOTICE_CONTENT" property="noticeContent"/>
		<result column="CREATEDATE" property="createDate"/>
		<result column="COUNT" property="count"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	<resultMap type="OpenNotice" id="openNoticeResultSet">
		<result column="OPEN_NO" property="openNo"/>
		<result column="SHOW_NAME" property="showName"/>
		<result column="OPEN_EXPLAIN" property="openExplain"/>
		<result column="GENRE_NO" property="genreNo"/>
		<result column="REGION_NO" property="regionNo"/>
		<result column="HALL_NO" property="hallNo"/>
		<result column="OPEN_PRICE" property="openPrice"/>
		<result column="CREATE_DATE" property="createDate"/>
	</resultMap>
	
	
	<select id="listCount" resultType="_int">
		SELECT COUNT(*)
		FROM NOTICE
		WHERE STATUS ='Y'
	</select>
	
	<select id="selectList" resultMap="noticeResultSet">
		SELECT * 
		FROM NOTICE
		WHERE STATUS = 'Y'
		ORDER BY CREATEDATE DESC
	</select>

	<!-- 검색 목록 개수  -->
	<select id="searchCount" resultType="_int">
		SELECT COUNT(*)
		FROM NOTICE
		WHERE STATUS ='Y'
		<choose>
			<when test="condition == 'title'">
				AND NOTICE_TITLE LIKE '%' || #{keyword} || '%'
			</when>
			<when test="condition == 'content'">
				AND NOTICE_CONTENT LIKE '%' || #{keyword} || '%' 
			</when>
			<otherwise>
				AND (NOTICE_TITLE LIKE '%' || #{keyword} || '%'
				OR NOTICE_CONTENT LIKE '%' || #{keyword} || '%')
			</otherwise>
		</choose>
	</select>
	
	<!-- 검색 목록 정보 | 동적 sql문 사용하여 쿼리문 작성 -->
	<select id="searchNotice" resultMap="noticeResultSet">
		SELECT *
		FROM NOTICE
		WHERE STATUS ='Y'
		<choose>
			<when test="condition == 'title'">
				AND NOTICE_TITLE LIKE '%' || #{keyword} || '%'
			</when>
			<when test="condition == 'content'">
				AND NOTICE_CONTENT LIKE '%' || #{keyword} || '%'
			</when>
			<when test="condition == 'all'">
				AND (NOTICE_TITLE LIKE '%' || #{keyword} || '%'
				OR NOTICE_CONTENT LIKE '%' || #{keyword} || '%')
			</when>
		</choose>
	</select>
	
	<!-- 오픈공지 검색 목록 개수  -->
	<select id="searchOpenCount" resultType="_int">
		SELECT COUNT(*) 
		FROM OPEN_NOTICE
		WHERE 
		<choose>
			<when test="condition == 'title'">
				SHOW_NAME LIKE '%' || #{keyword} || '%'
			</when>
			<when test="condition == 'content'">
				OPEN_EXPLAIN LIKE '%' || #{keyword} || '%' 
			</when>
			<otherwise>
				(SHOW_NAME LIKE '%' || #{keyword} || '%'
				OR OPEN_EXPLAIN LIKE '%' || #{keyword} || '%')
			</otherwise>
		</choose>
	</select>
	
	<!-- 오픈공지 검색 목록 정보 | 동적 sql문 사용하여 쿼리문 작성 -->
	<select id="searchOpenNotice" resultMap="openNoticeResultSet">
		SELECT *
		FROM OPEN_NOTICE
		WHERE 
		<choose>
			<when test="condition == 'title'">
				SHOW_NAME LIKE '%' || #{keyword} || '%'
			</when>
			<when test="condition == 'content'">
				OPEN_EXPLAIN LIKE '%' || #{keyword} || '%'
			</when>
			<when test="condition == 'all'">
				(SHOW_NAME LIKE '%' || #{keyword} || '%'
				OR OPEN_EXPLAIN LIKE '%' || #{keyword} || '%')
			</when>
		</choose>
	</select>
	
	<!-- 공지사항 상세보기 -->
	<select id="noticeDetail" parameterType="_int" resultMap="noticeResultSet">
		SELECT *
		FROM NOTICE
		WHERE STATUS ='Y'
			AND NOTICE_NO = #{nno}
	</select>

 	<!-- 공지사항 조회수 up  -->
	<update id="noticeUpCount">
		UPDATE NOTICE
		SET COUNT = COUNT+1
		WHERE NOTICE_NO = #{nno}
	</update>

	<!-- 오픈공지 개수 -->
	<select id="openlistCount" resultType="_int">
		SELECT COUNT(*)
		FROM OPEN_NOTICE
	</select>
	
	<!-- 오픈공지 목록 -->
	<select id="selectOpenList" resultMap="openNoticeResultSet">
		SELECT * 
		FROM OPEN_NOTICE
	</select>
	
	
	<!-- 오픈공지 상세페이지 -->
	<select id="openSelect" resultMap="openNoticeResultSet">
	SELECT  S.SHOW_NAME
	       ,SHOW_EXPLAIN
	       ,R.REGION_NAME
	       ,SHOW_START
	       ,SHOW_END
	       ,POSTER_ORIGINNAME
	       ,POSTER_CHANGENAME
	       ,PRICE
	FROM SHOW S 
	JOIN OPEN_NOTICE O ON(S.OPEN_NO = O.OPEN_NO)
	JOIN REGION R ON(S.REGION_NO = R.REGION_NO)
	WHERE SHOW_NAME = #{showName}
	AND STATUS = 'Y'
	</select>
	
</mapper>


