<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="paymentsMapper">

	
	<!-- 결제 테이블 생성 -->
	<insert id="createPay" parameterType="HashMap">
		INSERT INTO PAYMENTS
		VALUES(#{payId},#{reservationId},#{amount},#{method},SYSDATE,#{status},1)
	</insert>
	
	
	<!-- 티켓 테이블 생성을 위한 좌석번호 -->
	<select id="selectId" resultType="_int" parameterType="HashMap">
		 SELECT SEAT_ID
		 FROM SEATS
		 WHERE ROW_NAME || COL_NO = #{name}
		 AND ROUND_ID = #{roundId}
	</select>
	
	<!-- 티켓 테이블 생성 -->
	<insert id="createTicket" parameterType="HashMap">
		 INSERT INTO TICKET
			VALUES(TICKET_SEQ.NEXTVAL, #{reservationId}, #{seatsId}, #{payId}, DEFAULT)   
	</insert>
	
</mapper>
