<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservationMapper">


	<resultMap type="Reservation" id="reservationResult">
		<result column="RESERVATION_ID" property="reservationId"/>
		<result column="SHOW_NO" property="showNo"/>
		<result column="SHOW_NAME" property="showName"/>	
		<result column="ROUND_ID" property="roundId"/>
		<result column="USER_NO" property="userNo"/>
		<result column="HALL_NO" property="hallNo"/>
		<result column="HALL_NAME" property="hallName"/>
		<result column="SHOW_TIME" property="showTime"/>
		<result column="SHOW_DATE" property="showDate"/>
		<result column="SHOW_ROUND" property="showRound"/>
		
		<collection property="showList" ofType="Show">
			<result column="SHOW_NAME" property="showName"/>	
			<result column="SHOW_NO" property="showNo"/>	
		</collection>
	
	</resultMap>
	
	<resultMap type="SeatsOfRow" id="SeatsOfRowResultSet">
		<result column="ROW_NAME" property="rowName"/>
		<result column="GRADE_NAME" property="gradeName"/>
	</resultMap>
	
	<!-- 예약 번호 가져오기 -->
	<select id="reSearch" parameterType="_int" resultMap="reservationResult">
		SELECT RESERVATION_ID, SHOW_NAME 
		FROM RESERVATION
		JOIN SHOW USING(SHOW_NO)
		WHERE USER_NO = #{userNo}
	</select>
	
	<select id="selectTakenSeats" resultType="String">
		SELECT ROW_NAME || COL_NO  AS TAKEN
		FROM SEATS
		WHERE STATUS = 'N'
	</select>
	
	
	<!-- 등급별좌석 수 조회 -->
	<select id="selectSeatsNum" resultMap="SeatsOfRowResultSet">
		SELECT  COUNT(*) AS COUNT,
                GRADE_NAME 
		FROM SEATSOFROW
		JOIN SEATS USING(ROW_NAME)
		WHERE STATUS = 'Y'
		GROUP BY GRADE_NAME
	</select>
	
	<!-- 공연장(hall)테이블 총좌석 수 변환(-). -->
	<update id="updateTotalNum" parameterType="_int">
		  UPDATE HALL
    	  SET TOTAL_SEAT = <![CDATA[TOTAL_SEAT - #{num}]]>
	</update>
	
	<!-- 좌석 상태 변환 -->
	<update id="updateSeatStatus" parameterType="String">
		UPDATE SEATS
		SET STATUS = 'N'
		WHERE ROW_NAME || COL_NO = #{name}
	</update>
	
	<!-- 예약테이블 생성 -->
	<insert id="createReservation" parameterType="HashMap">
		INSERT INTO RESERVATION
		VALUES(RESERV_SEQ.NEXTVAL, #{showNo}, #{roundId}, 1, #{hallNo},DEFAULT,DEFAULT,NULL)
	</insert>
	
	<!-- 예약테이블 생성 후 확인데이터 가져오기 -->
	<select id="selectReservation" resultMap="reservationResult">
		SELECT A.*
		FROM (SELECT RESERVATION_ID,
		               SHOW_NAME,
		               SHOW_ROUND,
		               SHOW_TIME,
		               TRUNC(SHOW_DATE)SHOW_DATE,
		               HALL_NAME
		        FROM RESERVATION R
		        JOIN SHOW USING (SHOW_NO)
		        JOIN SHOWROUND USING (ROUND_ID)
		        JOIN HALL USING(HALL_NO)
		        ORDER BY RESERVATION_ID DESC) A
		WHERE ROWNUM = 1
	</select>
	
	
</mapper>
