<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="showInfoMapper">

	<resultMap type="Show" id="showResultSet">
		<result column="SHOW_NO" property="showNo" />
		<result column="SHOW_NAME" property="showName" />
		<result column="SHOW_EXPLAIN" property="showExplain" />
		<result column="PRICE" property="price" />
		<result column="NOTICE" property="notice" />
		<result column="PRECAUTION" property="precaution" />
		<result column="STATUS" property="status" />
		<result column="HALL_NO" property="hallNo" />
		<result column="GENRE_NO" property="genreNo" />
		<result column="REGION_NO" property="regionNo" />
		<result column="SHOW_START" property="showStart" />
		<result column="SHOW_END" property="showEnd" />
		<result column="COUNT" property="count" />
	</resultMap>
	
	<resultMap type="Review" id="reviewResultSet">
		<result column="REVIEW_ID" property="reviewId" />
		<result column="SHOW_NO" property="showNo" />
		<result column="USER_NO" property="userId" />
		<result column="REVIEW_SCORE" property="reviewScore" />
		<result column="REVIEW_TITLE" property="reviewTitle" />
		<result column="REVIEW_CONTENT" property="reviewContent" />
		<result column="CREATE_DATE" property="createDate" />
	</resultMap>	
	
	
	<resultMap type="ShowRound" id="roundResultSet">
		<result column="ROUND_ID" property="roundId" />
		<result column="SHOW_NO" property="showNo" />
		<result column="SHOW_ROUND" property="showRound" />
		<result column="SHOW_TIME" property="showTime" />
		<result column="SHOW_DATE" property="showDate" />
	</resultMap>
	
	
 <!-- 뮤지컬 랭킹(1~5위) count 순으로 리스트 -->
  <select id="musicalShowList" resultMap="showResultSet">
  	SELECT *
  	FROM (SELECT SHOW_NAME
  	       		 ,SHOW_START
  	       		 ,SHOW_END
  	      FROM SHOW
  	      WHERE GENRE_NO = '2'
  	      AND ORDER BY COUNT DESC)
  	      
  	<![CDATA[ WHERE ROWNUM <= 5 ]]>  
  </select>
  	       
  	       
  	<!-- 공연상세 페이지를 위한 공연정보 조회 -->
	<select id="selectShow" resultMap="showResultSet">
		SELECT S.SHOW_NO,
		        SHOW_NAME,
		        SHOW_EXPLAIN,
		        PRICE,
		        NOTICE,
		        HALL_NAME HALL_NO,
		        GENRE_NAME GENRE_NO,
		        REGION_NAME REGION_NO,
		        SHOW_START ,
		        SHOW_END
		FROM SHOW S
		JOIN HALL H  ON (S.HALL_NO = H.HALL_NO)
		JOIN GENRE G ON (S.GENRE_NO = G.GENRE_NO)
		JOIN REGION R ON (S.REGION_NO = R.REGION_NO)
		WHERE S.STATUS = 'Y'
		AND S.SHOW_NO = 1
	</select>
	
	<!-- 공연날짜 조회 -->
	<select id="selectRound" resultMap="roundResultSet">
		SELECT SHOW_DATE
		FROM SHOWROUND
		WHERE SHOW_NO = 1
		AND STATUS = 'Y'
		GROUP BY SHOW_DATE
		ORDER BY SHOW_DATE
	</select>
	
	
	<!-- 리뷰 수 조회 -->
	<select id="selectRcount" resultType="int">
		SELECT COUNT(*)
		FROM REVIEW
		WHERE STATUS = 'Y'
		AND SHOW_NO = 1
	</select>
	
	
	<!-- 리뷰 조회 -->
	<select id="selectReview" resultMap="reviewResultSet">
		SELECT REVIEW_ID,
		       USER_ID USER_NO,
		       REVIEW_SCORE,
		       REVIEW_TITLE,
		       REVIEW_CONTENT,
		       CREATE_DATE
		FROM REVIEW R
		JOIN MEMBER USING(USER_NO)
		WHERE R.STATUS = 'Y'
		AND SHOW_NO = 1
		ORDER BY CREATE_DATE DESC
	</select>
	
	<!-- 리뷰 검색 -->
	<select id="reviewSearch" parameterType="String" resultMap="reviewResultSet">
		 SELECT REVIEW_ID,
		       USER_ID,
		       REVIEW_SCORE,
		       REVIEW_TITLE,
		       REVIEW_CONTENT,
		       CREATE_DATE
		FROM REVIEW R
		JOIN MEMBER USING(USER_NO)
		WHERE R.STATUS = 'Y'
		AND (REVIEW_TITLE LIKE '%'||#{keyword}||'%'
 			 OR REVIEW_CONTENT LIKE '%'||#{keyword}||'%')
		ORDER BY CREATE_DATE DESC	
	</select>
	
	<!-- 검색된 리뷰 갯수 -->
	<select id="searchRcount" parameterType="String" resultType="int">
		 SELECT COUNT(*)
		FROM REVIEW R
		JOIN MEMBER USING(USER_NO)
		WHERE R.STATUS = 'Y'
		AND (REVIEW_TITLE LIKE '%'||#{keyword}||'%'
 			 OR REVIEW_CONTENT LIKE '%'||#{keyword}||'%')
		ORDER BY CREATE_DATE DESC
	</select>
	
	<!-- 리뷰 작성 -->
	<!-- 리뷰 수정 -->
	<!-- 리뷰 삭제 -->
		
</mapper>